.container {
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 667px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 100px 0 rgba(34, 60, 80, 0.2);
  position: relative;
}

.settings {
  position: absolute;
  top: 41px;
  right: 20px;
  content: "";
  background: url("../icons/settings.svg") center center/cover no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 41px;
  left: 20px;
  content: "";
  transform: rotateZ(180deg);
  background: url("../icons/arrowback.svg") center center / cover no-repeat;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container__title {
  color: #546269;
  font-size: 30px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 600;
}

.container__favorite {
  color: #546269;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.5s;
}
.container__favorite:hover{
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;

}
.container__favorite img{
  width: 22px;
  height: 22px;
  margin-left: 10px;

}

.container__temp {
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container__temp-value {
  color: #546269;
  font-size: 100px;
  height: 100%;
}

.container__temp-celc {
  margin-left: 18px;
  font-size: 70px;
  color: #546269;
  position: relative;
}

.container__temp-celc:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 13px;
  left: -14px;
  border-radius: 100%;
  border: 4px solid #546269;
  top: 10px;
}

.container__forecast {
  margin-top: 10px;
  font-size: 20px;
  color: #546269;
}

.button {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #546269;
  backdrop-filter: blur(20px);
  border: 0;
  border-radius: 5px;
  text-decoration: none;
}
